<!DOCTYPE html>
<html>
<head>
	<title>Ўзбекистон Афғонистонга нисбатан сиёсатини ўзгартиради | Upost - Ўзбекистон ва жахон янгиликлари</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="shortcut icon" sizes="32x32" href="http://jin.uz/img/favicon.ico" />
	<link href="https://fonts.googleapis.com/css?family=Istok+Web:400,700&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&amp;subset=cyrillic" rel="stylesheet">
</head>
<body>
	<!-- HEADER -->
	<header class="fixed-top">
		<div class="container">
			<nav class="top-nav">
				<a class="logo" href="#">
					<img src="img/logo.png">
				</a>
				<ul class="menu">                                                  
					<li class="menu-li"><a href="#"><img src="img/lenta.png"> Tasma</a></li>
					<li class="menu-li"><a href="#">Siyosat</a></li>
					<li class="menu-li"><a href="#">Jamiyat</a></li>
					<li class="menu-li"><a href="#">Iqtisod</a></li>
					<li class="menu-li"><a href="#">Dunyo</a></li>
					<li class="menu-li"><a href="#">Sport</a></li>
					<li class="menu-li"><a href="#">Voqealar</a></li>
					<li class="menu-li"><a href="#">Madaniyat</a></li>
					<li class="menu-li"><a href="#">Texnologiya</a></li>
					<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">...</a>
	          <ul class="dropdown-menu">
	          	<li><a href="#">Ilm fan</a></li>
	            <li><a href="#">Musoqa va kino</a></li>
	            <li><a href="#">Maslahatlar</a></li>
	            <li><a href="#">Lifestyle</a></li>
	            <li><a href="#">Tanlovlar</a></li>
	            <li><a href="#">Tadbirlar</a></li>
	          </ul>
	        </li>
				</ul>
				<div class="dropdown float-right">
					<a class="dropdown-toggle btn-menu" href="#" class="btn-menu" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/bell.png"></a>
					<div class="dropdown-menu dropdown-menu-right p-3" aria-labelledby="dropdownMenuLink">
						<h1>Upost nashrida muhim va shoshilinch xabarlarni utkazib yubormang!</h1>
						<p>Brauzeringizda sayt yangiliklari uchun xabarnoma berish funcsiyasini yoqishingiz kerak.</p>
						<p>Quydagicha:</p>
						<img src="img/bu.png">
					</div>
				</div>
				<div class="dropdown lang-menu float-right">
				  <a class="dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/flag.jpg"> OZ</a>
				  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				    <a class="dropdown-item" href="#"><img src="img/flag.jpg"> UZ</a>
				    <a class="dropdown-item" href="#"><img src="img/flag.jpg"> RU</a>
				  </div>
				</div>
				<form class="form-inline float-right">
					<div class="input-group">
			      <input type="text" class="form-control" placeholder="Izlang...">
			      <span class="input-group-btn">
			        <button class="btn btn-secondary" type="submit"></button>
			      </span>
			    </div>
				</form>
			</nav>
		</div>
	</header>
	<!-- HEADER -->

	<!-- CONTENT -->
	<section class="container">
		<main class="col-12 main">
			<div class="row m-0">
				<div class="col-9 content">
					<article class="post-block">
						<h1>Ўзбекистон Афғонистонга нисбатан сиёсатини ўзгартиради</h1>
						<div class="top-bar d-block">
							<ul class="d-inline-block float-left">
								<li><a href="#">Сиёсат,</a></li>
								<li>28 Март 2016, 18:35</li>
								<li><a href="#"><img src="img/carzone.png"> Carzone.uz</a></li>
								<li><a href="#linkComment"><img src="img/comment-count.png"> 3 та изох</a></li>
							</ul>
							<div class="d-inline-block float-right social-links">
								<img src="img/post-save.png" data-toggle="tooltip" data-placement="bottom" title="Saqlash">
								<img src="img/post-print.png" onclick="window.print();" data-toggle="tooltip" data-placement="bottom" title="Chop etish">
								<div class="social ya-share2" data-services="facebook,twitter,gplus,telegram,whatsapp,odnoklassniki," data-counter=""></div>
							</div>
						</div>
						<hr class="post-line"></hr>
						<article class="post">
							<div class="post-image">
								<img src="https://www.gazeta.uz/media/img/2017/04/VjtbaL14913959881735_b.jpg">
								<span>Foto: Gazeta.uz</span>
							</div>
								<p class="audio">Янгиликни эшитиш учун Play тугмасини босинг</p>
								<div class="d-flex my-2">
									<audio src="file/yarmak.mp3" controls loop class="w-100"></audio>
								</div>
								<p>Ўтган ҳафтада ташқи ишлар вазири Абдулазиз Камилов раҳбарлигидаги Ўзбекистон делегацияси Кобулга ташриф буюргани хабар қилинган эди. Ўзбек делегацияси Афғонистон пойтахтига уюштирган сафари чоғида ушбу мамлакат президенти Муҳаммад Ашраф Ғани билан учрашди. У «минтақавий сиёсатга доир масалалар бўйича томонлар вакилларининг қараши тўлиқ мос келиши»ни айтди. Ашраф Ғани Ўзбекистон томонининг яқин орада Тошкентга ташриф буюришга доир таклифини қабул қилди. Томонлар музокаралар чоғида Ўзбекистондан Афғонистонга ва аксинча юкларни транзит қилишдаги қийинчиликларни бартараф этишга келишиб олишди. Тошкентга ташриф буюришга доир таклифини қабул қилди. Томонлар музокаралар чоғида Ўзбекистондан Афғонистонга ва аксинча юкларни транзит қилишдаги қийинчиликларни бартараф этишга келишиб олишди.</p>
								<blockquote class="blockquote">
    								<a href="https://www.gazeta.uz/uz/2017/04/12/meeting/" class="mb-0">Президент айрим амалдорларни бефарқлик ва масъулиятсизликда айблади</a>
								</blockquote>
								<p>24 январь куни ушбу ташриф доирасида савдо-иқтисодий ҳамкорликка доир  «йўл харитаси» имзоланди. Уни ҳаётга татбиқ этиш қисқа муддатлар ичида икки мамлакат ўртасидаги савдо айланмасини 1,5 млрд долларга етказишни кўзда тутади. Бундан ташқари, Кобул ва Тошкент вакиллари «транспорт инфратузилмасида ўзаро ҳамкорликни янада ривожлантириш бўйича келишиб олишди. Бу эса, ўзбек томонининг темир йўл ва автойўлларга доир қўшма лойиҳаларда иштирокини таъминлайди». Тошкентга ташриф буюришга доир таклифини қабул қилди. Томонлар музокаралар чоғида Ўзбекистондан Афғонистонга ва аксинча юкларни транзит қилишдаги қийинчиликларни бартараф этишга келишиб олишди.</p>
								<div class="post-image">
									<img src="https://www.gazeta.uz/media/img/2017/02/5ebvRr14866547360838_b.jpg">
									<span>Foto: Gazeta.uz</span>
								</div>
								<p>Январь ойи охирларида бўлиб ўтган учрашув иштирокчилари, хавфсизлик масаласи бўйича қўшма комиссия тузишга ҳам келишиб олишди. Икки давлат ички ишлар маҳкамалари гиёҳванд моддаларнинг ноқонуний айланмасига ҳамкорликда қарши курашиш бўйича келишувни имзолашди. Ўзбекистон делегацияси таркибида Афғонистонга ташриф буюрган тадбиркорлар 50 млн долларлик дори-дармонлар ва тиббий анжомлар, «тез ёрдам» автомобиллари, буғдой, маиший техникаларни етказиб беришга доир қатор шартномаларни имзолаган. Тошкентга ташриф буюришга доир таклифини қабул қилди. Томонлар музокаралар чоғида Ўзбекистондан Афғонистонга ва аксинча юкларни транзит қилишдаги қийинчиликларни бартараф этишга келишиб олишди. Расмий Тошкент вакилларига кўра, «афғон муаммоси фақат тинч сиёсий музокаралар натижасида эришиладиган миллий афғон ҳамфикрлиги асосида ҳал этилиши керак. Буни БМТ шафелигида ҳеч қандай дастлабки шартларсиз ташкил этиш лозим».</p>
						</article>
						<article class="d-flex flex-nowrap bottom-bar">
							<aside>
								<div class="d-flex align-items-center telegram">
									<img src="img/telegram.png">
									<a href="#" class="btn btn-primary">telegram.me/upostuz</a>
									<p>Барча муҳим янгиликлар Телергам каналимиздаҳам эълон қилиниб борилади</p>
								</div>
								<div class="tag-list">
									<img src="img/tag-list.png">
									<a href="#">Шавкат Мирзиёев</a>
									<a href="#">Буюк Британия</a>
									<a href="#">Хамкорлик</a>
								</div>
							</aside>
							<aside class="subscriber">
								<div class="subs">
									<img src="img/obuna.png">
									<p>Энг сифатли мақолаларни ўтказиб юборманг.</p>
									<a href="#" class="btn btn-primary"><img src="img/obuna-icon.png"> Обуна бўламан</a>
								</div>
							</aside>
						</article>
						<hr class="post-line"></hr>
						<h2>Бошқа янгиликлар</h2>
						<div class="news-list">
							<figure>
								<a href="#"><img src="img/m.jpg"></a>
								<h3><a href="#">Prezident Buyuk Britaniya tashqi ishlar vaziri o‘rinbosarini qabul qildi</a></h3>
								<p>12 Dek 2016, 22:24</p>
							</figure>
							<figure>
								<a href="#"><img src="img/m.jpg"></a>
								<h3><a href="#">Prezident Buyuk Britaniya tashqi ishlar vaziri o‘rinbosarini qabul qildi</a></h3>
								<p>12 Dek 2016, 22:24</p>
							</figure>
							<figure>
								<a href="#"><img src="img/m.jpg"></a>
								<h3><a href="#">Prezident Buyuk Britaniya tashqi ishlar vaziri o‘rinbosarini qabul qildi</a></h3>
								<p>12 Dek 2016, 22:24</p>
							</figure>
							<figure>
								<a href="#"><img src="img/m.jpg"></a>
								<h3><a href="#">Prezident Buyuk Britaniya tashqi ishlar vaziri o‘rinbosarini qabul qildi</a></h3>
								<p>12 Dek 2016, 22:24</p>
							</figure>
						</div>
						<h2 class="comments-title" id="linkComment">Изоҳлар 3 та <small>* Фақат мазуга доир фойдали ва қизиқарли изоҳлар эълон қилинади</small></h2>
						<article class="comment">
							<form class="form-inline add-comment" method="get">
								<img src="img/avatar.png">
								<textarea class="form-control" name="comment" rows="1" placeholder="Фикр билдиринг..."></textarea>
								<button class="btn btn-primary btn-lg" type="submit">Изоҳ қолдириш</button>
							</form>
							<form class="form-inline add-comment signin" method="get">
								<img src="img/avatar.png">
								<textarea disabled="disabled" class="form-control" name="comment" rows="1" placeholder="Фикр билдиринг..."></textarea>
								<p>Мақолага изоҳ қолдириш учун кабинетингизга киринг</p>
								<button class="btn btn-primary btn-lg" type="submit">Кириш</button>
							</form>
							<ul class="comment-list">
								<li>
									<img src="img/avatar.png">
									<h3>Даврон Рустамов <small>15 дақиқа аввал</small></h3>
									<p>Хурматли Шовкат Миромонович, энг ёрдам га мухтож фукороларимиз пенсионер эди, уларни мушкулни осон килдингиз, Сизга Худо кучу кувват берсин, Сизга омад тилиман.</p>
								</li>
								<li>
									<img src="img/avatar.png">
									<h3>Даврон Рустамов <small>15 дақиқа аввал</small></h3>
									<p>Хурматли Шовкат Миромонович, энг ёрдам га мухтож фукороларимиз пенсионер эди, уларни мушкулни осон килдингиз, Сизга Худо кучу кувват берсин, Сизга омад тилиман. Сизга Худо кучу кувват берсин, Сизга омад тилиман. Сизга Худо кучу кувват берсин, Сизга омад тилиман. Сизга Худо кучу кувват берсин, Сизга омад тилиман.</p>
								</li>
								<li>
									<img src="img/avatar.png">
									<h3>Даврон Рустамов <small>15 дақиқа аввал</small></h3>
									<p>Хурматли Шовкат Миромонович, энг ёрдам га мухтож фукороларимиз пенсионер эди, уларни мушкулни осон килдингиз, Сизга Худо кучу кувват берсин, Сизга омад тилиман.</p>
								</li>
								<li>
									<img src="img/avatar.png">
									<h3>Даврон Рустамов <small>15 дақиқа аввал</small></h3>
									<p>Хурматли Шовкат Миромонович, энг ёрдам га мухтож фукороларимиз пенсионер эди, уларни мушкулни осон килдингиз, Сизга Худо кучу кувват берсин, Сизга омад тилиман.</p>
								</li>
							</ul>
						</article>
					</article>
				</div>
				<div class="col-3 sidebar">
					<h3 class="cabinet"><img src="img/cabinite.png"> Obunachi kabineti <a href="#" class="btn-menu float-right"><img src="img/settings.png"></a></h3>
					<div class="sidebar-block">
						<div class="avatar">
							<img src="img/avatar.png" class="float-left">
							<h4>Upost o'quvchisi</h4>
							<span class="label">Mehmon</span>
							<button class="btn btn-primary btn-sm avatar-button">Kirish</button>
						</div>
						<div class="checked d-block">
							<img  class="float-left" src="img/smile.png">
							<p class="float-left" >Upost yaxshi xabarlar</p>
							<span class="checbox-content float-right">
								<input type="checkbox" class="checkbox" id="checkbox" />
								<label for="checkbox"></label>
							</span>
						</div>
						<p class="user-lenta-title"><img src="img/lenta2.png"> Shaxsiy tasma <span class="label">12</span></p>
						<ul class="user-lenta user-lenta2">
							<li><a href="#">Lola Yo‘ldosheva: Erkaklar bu ishni to‘lig‘icha tushunib, his eta olmasa kerak</a></li>
							<li><a href="#">Lola Yo‘ldosheva: Erkaklar bu ishni to‘lig‘icha tushunib, his eta olmasa kerak</a></li>
							<li><a href="#">Lola Yo‘ldosheva: Erkaklar bu ishni to‘lig‘icha tushunib, his eta olmasa kerak</a></li>
							<li><a href="#">Lola Yo‘ldosheva: Erkaklar bu ishni to‘lig‘icha tushunib, his eta olmasa kerak</a></li>
						</ul>
						<a href="#" class="btn btn-primary btn-sm lenta"><img src="img/lenta.png"> Shaxsiy tasma rejimiga o'tish</a>
					</div>
					<div class="sidebar-block sidebar-block2">
						<h3 class="title">Muhim siyosiy mavzular</h3>
						<ul class="user-lenta">
							<li><a href="#">O’zbekistonda Prezidentlik saylovlari</a></li>
							<li><a href="#">Shavkat Mirziyoyev, yangi islohotlar</a></li>
							<li><a href="#">AQSHda prezidentlik saylovlari</a></li>
							<li><a href="#">ISHID</a></li>
						</ul>
					</div>
					<div class="sidebar-block">
						<h3 class="title">Ko’p o’qilgan xabarlar</h3>
						<ul class="sub-lenta">
							<li><a href="#">Lola Yo‘ldosheva: Erkaklar bu ishni to‘lig‘icha tushunib, his eta olmasa kerak</a><img src="img/m-m3.jpg"></li>
							<li><a href="#">Lola Yo‘ldosheva: Erkaklar bu ishni to‘lig‘icha tushunib, his eta olmasa kerak</a><img src="img/m-m3.jpg"></li>
							<li><a href="#">Lola Yo‘ldosheva: Erkaklar bu ishni to‘lig‘icha tushunib, his eta olmasa kerak</a><img src="img/m-m3.jpg"></li>
							<li><a href="#">Lola Yo‘ldosheva: Erkaklar bu ishni to‘lig‘icha tushunib, his eta olmasa kerak</a><img src="img/m-m3.jpg"></li>
							<li><a href="#">Lola Yo‘ldosheva: Erkaklar bu ishni to‘lig‘icha tushunib, his eta olmasa kerak</a><img src="img/m-m3.jpg"></li>
						</ul>
					</div>
					<div class="banner" style="background-color:#1a555b;"><img src="img/new-york-times.jpg"></div>
					<div class="sidebar-block">
						<h3 class="title">Hikmat</h3>
						<p class="m-0 p-2">Inson qanchalik kam bilgani sari unga bilimi keng tuyuladi.</p>
						<span class="d-block">J.Russo</span>
						<a href="#" class="float-right d-block"><img src="img/refresh.png"> Boshqa</a>
					</div>
					<div class="banner"><img src="img/fb-widget.jpg"></div>
				</div>
			</div>
		</main>
		<!-- FOOTER -->
		<footer class="col-12">
			<div class="row">
				<div class="col-md-3 col-sm-12">
					<h2 class="logo"><img src="img/logo.png"></h2>
					<p class="about">O’zbekiston va jahonda yuz berayotgan voqea, hodisalar haqida tezkor xabarlar.</p>
					<ul class="social socialIcons">
			    		<li class="facebook"><a href="#" title=""></a></li>
			    		<li class="twitter"><a href="#" title=""></a></li>
			    		<li class="linkedin"><a href="#" title=""></a></li>
			    		<li class="rss"><a href="#" title=""></a></li>
			    		<li class="youtube"><a href="#" title=""></a></li>
					</ul>
				</div>
				<div class="col-md-9 col-sm-12 right-panel mb-2 pl-0">
					<div class="float-left d-block pl-4">
						<h4>Asosiy</h4>
						<ul class="footer-menu p-0">
							<a href="#">Loyiha haqida</a>
							<a href="#">Ish o’rinlari <span class="label">Yangi</span></a>
							<a href="#">Foydalanish shartlari</a>
							<a href="#">Bog’lanish</a>
						</ul>
					</div>
					<div class="n-block ml-4">
						<h4>Yangilik bormi? Maqola yozasizmi?</h4>
						<p>Sizda muxim yoki qiziqarli xabar bo'lsa <a href="#">bizga yuboring!</a></p>
						<p>Siz maqolalar yozsangiz va tarjima qilsangiz <a href="#">biz bilan boglaning!</a></p>
					</div>
					<div class="apps ml-4">
						<h4>Upost mobil ilovasi</h4>
						<a href="#"><img src="img/google-play.png"></a>
						<a href="#"><img src="img/app-store.png"></a>
						<div class="clearfix"></div>
						<h5>Mobil sayt</h5>
						<a href="#" class="btn btn-default">m.upost.uz</a>
					</div>
				</div>
			</div>
			<p class="bottom"><span class="float-left">© 2016-2017  Upost. Barcha huquqlar himoyalangan.</span> <span class="float-right"><img src="img/heart.png"> bilan yaratilgan. Credo</span></p>
		</footer>
		<!-- FOOTER -->
	</section>
	<!-- CONTENT -->



<script src="js/jquery.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/share.js" async="async"></script>
<script src="js/script.js"></script>

</body>
</html>