<!DOCTYPE html>
<html>
<head>
	<title>Upost</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<!-- HEADER -->
	<header class="fixed-top">
		<div class="container">
			<nav class="top-nav">
				<a class="logo" href="#">
					<img src="img/logo.png">
					<span>post</span>
				</a>
				<ul class="menu">                                                  
					<li class="menu-li"><a href="#"><img src="img/lenta.png"> Tasma</a></li>
					<li class="menu-li"><a href="#">Siyosat</a></li>
					<li class="menu-li"><a href="#">Jamiyat</a></li>
					<li class="menu-li"><a href="#">Iqtisod</a></li>
					<li class="menu-li"><a href="#">Dunyo</a></li>
					<li class="menu-li"><a href="#">Sport</a></li>
					<li class="menu-li"><a href="#">Voqealar</a></li>
					<li class="menu-li"><a href="#">Ilm fan</a></li>
					<li class="menu-li"><a href="#">Madaniyat</a></li>
					<li class="menu-li"><a href="#">Texnologiya</a></li>
					<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">...</a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Musoqa va kino</a></li>
	            <li><a href="#">Maslahatlar</a></li>
	            <li><a href="#">Lifestyle</a></li>
	            <li><a href="#">Tanlovlar</a></li>
	            <li><a href="#">Tadbirlar</a></li>
	          </ul>
	        </li>
				</ul>
				<div class="dropdown float-right">
					<a class="dropdown-toggle btn-menu" href="#" class="btn-menu" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/bell.png"></a>
					<div class="dropdown-menu dropdown-menu-right p-3" aria-labelledby="dropdownMenuLink">
						<h1>Upost nashrida muhim va shoshilinch xabarlarni utkazib yubormang!</h1>
						<p>Brauzeringizda sayt yangiliklari uchun xabarnoma berish funcsiyasini yoqishingiz kerak.</p>
						<p>Quydagicha:</p>
						<img src="img/bu.png">
					</div>
				</div>
				<div class="dropdown lang-menu float-right">
				  <a class="dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/flag.jpg"> OZ</a>
				  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				    <a class="dropdown-item" href="#"><img src="img/flag.jpg"> UZ</a>
				    <a class="dropdown-item" href="#"><img src="img/flag.jpg"> RU</a>
				  </div>
				</div>
				<form class="form-inline float-right">
					<div class="input-group">
			      <input type="text" class="form-control" placeholder="Izlang...">
			      <span class="input-group-btn">
			        <button class="btn btn-secondary" type="submit"></button>
			      </span>
			    </div>
				</form>
			</nav>
		</div>
	</header>
	<!-- HEADER -->

	<!-- CONTENT -->
	<section class="container">
		<main class="col-12 main">
			<div class="row m-0">
				<div class="col-9 content">
					<article class="category-blocks user-categorys">
						<div class="col-12 category-bar user-lenta-cats">
							<a href="#">Mening loyihalarim</a>
							<a href="#">Yangiliklar</a>
							<a href="#">Tavsiyalar <span>12</span></a>
							<a href="#">Grantlar</a>
							<a href="#">English</a>
							<a href="#" class="add-cat">+ Qo’shish</a>
						</div>
						<div class="category-content">
							<figure class="category-block">
								<img src="img/m.jpg">
								<a href="#"><h2>O‘zbekiston Birinchi Prezidenti Islom Karimov tavallud sanasi munosabati bilan mamlakat bo‘ylab turli tadbirlar bo‘lib o‘tmoqda</h2></a>
								<ul>
									<a><img src="img/clock.png"> 1 daqiqa avval</a>
									<a href="#"><img src="img/tag2.png"> Siyosat</a>
									<a href="#" class="hidden-column"><img src="img/tag.png"> Islom Karimov</a>
									<a href="#">Saqlab qo'yish</a>
								</ul>
							</figure>
							<figure class="category-block">
								<img src="img/m.jpg">
								<a href="#"><h2>O‘zbekiston Birinchi Prezidenti Islom Karimov tavallud sanasi munosabati bilan mamlakat bo‘ylab turli tadbirlar bo‘lib o‘tmoqda</h2></a>
								<ul>
									<a><img src="img/clock.png"> 1 daqiqa avval</a>
									<a href="#"><img src="img/tag2.png"> Siyosat</a>
									<a href="#" class="hidden-column"><img src="img/tag.png"> Islom Karimov</a>
									<a href="#">Saqlab qo'yish</a>
								</ul>
							</figure>
							<figure class="category-block">
								<img src="img/m.jpg">
								<a href="#"><h2>O‘zbekiston Birinchi Prezidenti Islom Karimov tavallud sanasi munosabati bilan mamlakat bo‘ylab turli tadbirlar bo‘lib o‘tmoqda</h2></a>
								<ul>
									<a><img src="img/clock.png"> 1 daqiqa avval</a>
									<a href="#"><img src="img/tag2.png"> Siyosat</a>
									<a href="#" class="hidden-column"><img src="img/tag.png"> Islom Karimov</a>
									<a href="#">Saqlab qo'yish</a>
								</ul>
							</figure>
							<figure class="category-block">
								<img src="img/m.jpg">
								<a href="#"><h2>O‘zbekiston Birinchi Prezidenti Islom Karimov tavallud sanasi munosabati bilan mamlakat bo‘ylab turli tadbirlar bo‘lib o‘tmoqda</h2></a>
								<ul>
									<a><img src="img/clock.png"> 1 daqiqa avval</a>
									<a href="#"><img src="img/tag2.png"> Siyosat</a>
									<a href="#" class="hidden-column"><img src="img/tag.png"> Islom Karimov</a>
									<a href="#">Saqlab qo'yish</a>
								</ul>
							</figure>
							<figure class="category-block">
								<img src="img/m.jpg">
								<a href="#"><h2>O‘zbekiston Birinchi Prezidenti Islom Karimov tavallud sanasi munosabati bilan mamlakat bo‘ylab turli tadbirlar bo‘lib o‘tmoqda</h2></a>
								<ul>
									<a><img src="img/clock.png"> 1 daqiqa avval</a>
									<a href="#"><img src="img/tag2.png"> Siyosat</a>
									<a href="#" class="hidden-column"><img src="img/tag.png"> Islom Karimov</a>
									<a href="#">Saqlab qo'yish</a>
								</ul>
							</figure>
							<figure class="category-block">
								<img src="img/m.jpg">
								<a href="#"><h2>O‘zbekiston Birinchi Prezidenti Islom Karimov tavallud sanasi munosabati bilan mamlakat bo‘ylab turli tadbirlar bo‘lib o‘tmoqda</h2></a>
								<ul>
									<a><img src="img/clock.png"> 1 daqiqa avval</a>
									<a href="#"><img src="img/tag2.png"> Siyosat</a>
									<a href="#" class="hidden-column"><img src="img/tag.png"> Islom Karimov</a>
									<a href="#">Saqlab qo'yish</a>
								</ul>
							</figure>
							<figure class="category-block">
								<img src="img/m.jpg">
								<a href="#"><h2>O‘zbekiston Birinchi Prezidenti Islom Karimov tavallud sanasi munosabati bilan mamlakat bo‘ylab turli tadbirlar bo‘lib o‘tmoqda</h2></a>
								<ul>
									<a><img src="img/clock.png"> 1 daqiqa avval</a>
									<a href="#"><img src="img/tag2.png"> Siyosat</a>
									<a href="#" class="hidden-column"><img src="img/tag.png"> Islom Karimov</a>
									<a href="#">Saqlab qo'yish</a>
								</ul>
							</figure>
						</div>
						<!-- <div id="contentLoader"> -->
							<!-- загруска контент в "category-content" при прокрутке вниз -->
						<!-- </div> -->
					</article>
				</div>
				<div class="col-3 sidebar dop-sidebar-class">
					<h3 class="cabinet"><img src="img/cabinite.png"> Obunachi kabineti <a href="#" class="btn-menu float-right"><img src="img/settings.png"></a></h3>
					<div class="sidebar-block">
						<div class="avatar">
							<img src="img/avatar.png" class="float-left">
							<h4>Upost o'quvchisi</h4>
							<span class="label">Mehmon</span>
							<button class="btn btn-primary btn-sm avatar-button">Kirish</button>
						</div>
						<div class="checked d-block">
							<ul class="user-menu-list">
								<li><a href="#"><img src="img/user-lenta-1.png"> Tanlangan yangiliklar</a></li>
								<li><a href="#"><img src="img/user-lenta-2.png"> Izohlarim</a></li>
								<li><a href="#"><img src="img/user-lenta-3.png"> Shaxsiy lenta</a></li>
								<li><a href="#"><img src="img/user-lenta-4.png"> Obuna</a></li>
								<li><a href="#"><img src="img/user-lenta-5.png"> Sozlamalar</a></li>
								<li><a href="#"><img src="img/user-lenta-6.png"> Chiqish</a></li>
							</ul>
						</div>
					</div>
					<div class="sidebar-block sidebar-block2">
						
					</div>
					<div class="sidebar-block">
						
					</div>
				</div>
			</div>
		</main>
		<!-- FOOTER -->
		<footer class="col-12">
			<div class="row">
				<div class="col-md-3 col-sm-12">
					<h2 class="logo"><img src="img/logo.png">post</h2>
					<p class="about">O’zbekiston va jahonda yuz berayotgan voqea, hodisalar haqida tezkor xabarlar.</p>
					<ul class="social p-0">
						<a href="#"><img src="img/facebook.png"></a>
						<a href="#"><img src="img/twitter.png"></a>
						<a href="#"><img src="img/google.png"></a>
						<a href="#"><img src="img/instagram.png"></a>
					</ul>
				</div>
				<div class="col-md-9 col-sm-12 right-panel mb-2 pl-0">
					<div class="float-left d-block pl-4">
						<h4>Asosiy</h4>
						<ul class="footer-menu p-0">
							<a href="#">Loyiha haqida</a>
							<a href="#">Bizda ish o’rinlari <span class="label">Yangi</span></a>
							<a href="#">Foydalanish shartlari</a>
							<a href="#">Bog’lanish</a>
						</ul>
					</div>
					<div class="float-left d-block pl-4">
						<h4>Asosiy</h4>
						<ul class="footer-menu p-0">
							<a href="#">Loyiha haqida</a>
							<a href="#">Ish o’rinlari</a>
							<a href="#">Foydalanish shartlari</a>
							<a href="#">Bog’lanish</a>
						</ul>
					</div>
					<div class="n-block ml-4">
						<h4>Yangilik bormi? Maqola yozasizmi?</h4>
						<p>Sizda muxim yoki qiziqarli xabar bo'lsa <a href="#">bizga yuboring!</a></p>
						<p>Siz maqolalar yozsangiz va tarjima qilsangiz <a href="#">biz bilan boglaning!</a></p>
					</div>
					<div class="apps ml-4">
						<h4>Upost mobil ilovasi</h4>
						<a href="#"><img src="img/google-play.png"></a>
						<a href="#"><img src="img/app-store.png"></a>
						<div class="clearfix"></div>
						<h5>Mobil sayt</h5>
						<a href="#" class="btn btn-default">m.upost.uz</a>
					</div>
				</div>
			</div>
			<p class="bottom"><span class="float-left">© 2016-2017  Upost. Barcha huquqlar himoyalangan.</span> <span class="float-right"><img src="img/heart.png"> bilan yaratilgan. Credo</span></p>
		</footer>
		<!-- FOOTER -->
	</section>
	<!-- CONTENT -->


<script src="js/jquery.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>